* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
main {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.514);
}

.container {
    width: 100%;
    height: 100%;
}

nav {
    height: 100px;
    width: 100%;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 30px;
    font-size: 20px;
    font-weight: 900;
   
}

.menu {
    display: none;
}

@media screen and (max-width: 800px) {
    .social {
        display: none;
    }
    .menu {
        display: block;
    }

    nav {
        flex-direction: column;
    }

    ul {
        flex-direction: column;
    }
}